*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
  --main-background-color: #010101;
  --header-background-color:#111A26;
  --sections-color-themes:#085942;
  --sections-color-title-details-stroke:#05F283;
  --sections-color-text:#E9EDF2;
}
header {
width: 100%;
height: 6vh;
background-color: var(--header-background-color);
color: var(--sections-color-text);
display: flex;
align-items: center;
justify-content: center;
border-bottom: 3px solid var(--sections-color-title-details-stroke);
}
 

.list-itens {
    display: flex;
    gap: 30px;
    list-style: none;
color: var(--sections-color-title-details-stroke);
}

.separate-itens {
font-weight:bold;
}



.section-intro {
width: 100%;

}



.background-intro {
background-image:url(../img/pexels-roberto-nickson-28853202.svg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.text-intro {
   

    color: var(--sections-color-text);
   
}

.subtitle-intro {
    margin-left: 15%;
}

.bar-style {
    width: 100%;
    background-color: var(--sections-color-themes);
    height: 15px;
}